{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container login-pad">

        <div class="col-12 col-md-6 mx-auto p-4 rounded-4 bg-gradiente">
            <h2>Login</h2>
            {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" name="username" maxlength="150" class="form-control mb-3" required id="id_username" autofocus>
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password" class="form-control mb-3" required id="id_password">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </form>
    <a href="{% url 'register' %}">Don't have an account? Register here.</a>
</div>

</div>
{% endblock %}
