{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="col-12 col-md-4 mx-auto p-4 m-4 bg-gradiente rounded-4">
  <div class="profile-section">
    <h2>{{ user.username }}</h2>

    <img class="rounded-4 mb-4" src="{{ user.profile.image.url }}" alt="User profile picture">

    <p>@{{ user.username }}</p>
       
{% with sorted_usernames=sorted_usernames %}
    <a id="start-chat-button" class="btn btn-primary" href="{% url 'private_chat' request.user.username user.username %}">Chat with me!</a>
{% endwith %}




    <p class="mb-4">Bio: {{ user.profile.bio }}</p>
    
    
    
       {% if request.user == user %}
    <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary">Edit Profile</a>
    {% endif %}
  </div>
  
    </div>
</div>
{% endblock content %}
