{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="col-12 col-md-4 mx-auto p-4 m-4 bg-gradiente rounded-4">
  <div class="profile-section">
    <h2>{{ user.username }}</h2>

    <img class="rounded-4 mb-4" src="{{ user.profile.image.url }}" alt="User profile picture">

    <p>@{{ user.username }}</p>
       
{% with sorted_usernames=sorted_usernames %}
    <button id="start-chat-button" class="btn btn-primary">Chat with me!</button>
    <script>
        var username = "{{ request.user.username }}";
        var notificationSocket = new WebSocket('ws://localhost:8000/ws/notifications_' + username + '/');

        document.getElementById('start-chat-button').addEventListener('click', function() {
            // This is the username of the other user that the user wants to chat with.
            // Replace this with the actual username.
            var otherUsername = "{{ user.username }}";
            var senderUsername = username;  // Use the username variable defined above
            var message = {
                type: 'start_chat',
                other_user: otherUsername,
                from: senderUsername  // And this line
            };
            notificationSocket.send(JSON.stringify(message));
        });
    </script>
{% endwith %}




    <p class="mb-4">Bio: {{ user.profile.bio }}</p>
    
    
    
       {% if request.user == user %}
    <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary">Edit Profile</a>
    {% endif %}
  </div>
  
    </div>
</div>
{% endblock content %}
